modules = ["nodejs-20", "vue-node-20", "web"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start API server"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=5000 BASE_PATH=/ pnpm --filter @workspace/betwin run dev"
waitForPort = 5000

[[workflows.workflow]]
name = "Start API server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=3000 pnpm --filter @workspace/api-server run dev"
waitForPort = 3000

[workflows.workflow.metadata]
outputType = "console"

[agent]
stack = "BEST_EFFORT_FALLBACK"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 5000
externalPort = 80

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
VITE_FIREBASE_API_KEY = "AIzaSyA5mDQx2A20wPRyPk-M3sBOyGFHqaGq8hI"
VITE_FIREBASE_AUTH_DOMAIN = "bet-mali.firebaseapp.com"
VITE_FIREBASE_DATABASE_URL = "https://bet-mali-default-rtdb.firebaseio.com"
VITE_FIREBASE_PROJECT_ID = "bet-mali"
VITE_FIREBASE_STORAGE_BUCKET = "bet-mali.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID = "752891870014"
VITE_FIREBASE_APP_ID = "1:752891870014:web:c4c7236bddadd8e1150a6f"
VITE_FIREBASE_MEASUREMENT_ID = "G-LJEY3Y799M"
